body{
    height: 100%;
    background-color: #E9EBEE;
    
}
h1,
h2,
h3,
h4,
h5{
    font-family: 'Ubuntu', sans-serif;     
}
/* NavBar */
nav{
    font-family: 'Ubuntu', sans-serif;  
    color: white;
    /* background-color: #157EFB;        */
}
.profile-drop{
    list-style: none;
}
.navbar-dark .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.8);
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: white;;
}
#navbarDropdown{
    color: rgba(255, 255, 255, 0.8);
}
#navbarDropdown:hover{
    color: white;
}
.dropdown-menu{
    position: absolute;
    right: -16px;
    left: auto;
    top:45px;
    border-radius: 0 0 .25rem .25rem;
}
/* Font-Awesome Icons */
.fas{
    margin: 0 8px;
}
/* Login Page */

.login{
    height: 100vh;
    background-color: #E9EBEE;
}
.login-title{
    margin: 0;
}
.login-form{
    margin: 0 auto;
    position: relative;
    top: 28vh;
    width: 300px;
}
/* Profile Page */
.sidebar{
    background-color: white;
    height: 100vh;
    width: 250px;
    position: relative;
    left: -50px;
    float: left;
}