<section class="sidebar float-left col-md-3">
    <div class="img-wrap">
        <img class="profile-pic" src="{{users.image}}">
    </div>
    <br>
    <h3>{{users.userName}}</h3>
    <br>
    <ul class="sidebar-list">
        <li>
            <a href="/wall">
                <i class="far fa-clipboard"></i> My Wall</a>
        </li>
        <li>
            <a href="/profile">
                <i class="far fa-calendar-check"></i> My Goals</a>
        </li>
        <li>
            <a href="/friends">
                <i class="fa fa-user-astronaut"></i> My Friends</a>
        </li>
        <li></li>
        <li></li>
    </ul>
</section>