<section data-id="{{id}}" class="peer-profile-view col-md-9 btn-info col-md btn-search-user float-right">
    <div class="peer-view">
        <img class="nav-profile-image float-left" src={{user.image}}>
        <h3 class="float-left search-result-name">{{user.firstName}} {{user.lastName}}</h3>
        <button class=" btn add-friend float-right">
            <i class="fa fa-user-plus"></i>
        </button>
    </div>
</section>


<section class="goals float-right col-md-9">

    {{#unless True}}
    <div class="my-goals">
        <h3 class="goal-headings">Current Goals</h3>
        <ul>
            {{#each goals}} {{#unless completed}} {{> goals/goal-search completed=false}} {{/unless}} {{/each}}
        </ul>
    </div>
    {{/unless}}
    <br> {{#unless True}}
    <div class="my-goals-completed">
        <span>
            <h3 class="goal-headings d-inline">Completed Goals</h3>
        </span>
        <ul>
            {{#each goals}} {{#if completed}} {{> goals/goal-search completed=true}} {{/if}} {{/each}}
        </ul>
    </div>
    {{/unless}}
</section>