<section class="goals float-right col-md-9">
    <form class="add-goals">
        <div>
            <input type="text" class="form-control goal-inputs" id="goal-name-input" placeholder="input goal..." name="title">
            <input type="text" class="form-control goal-inputs" id="goal-description-input" placeholder="input goal notes...">
            <div class="form-group">
                 <div class="col-md-9 col-md-offset-3">
                 <div id="messages"></div>
            </div>
            </div>
                <button id="goal-submit" type="submit" class="btn btn-secondary">+</button>
        </div>
    </form>

    {{#unless True}}
    <div class="my-goals">
        <h4 class="goal-headings">Current Goals</h4>
        <ul>
            {{#each goals}} {{#unless completed}} {{> goals/goal-block completed=false}} {{/unless}} {{/each}}
        </ul>
    </div>
    {{/unless}}
    <br> {{#unless True}}
    <div class="my-goals-completed">
        <span>
            <h4 class="goal-headings d-inline">Completed Goals</h4>
            {{!-- <button id="del-completed-goals" class="btn float-right"><i id="del-completed-trash" class="fas fa-trash-alt float-right"></i></button> --}}
        </span>
        <ul>
            {{#each goals}} {{#if completed}} {{> goals/goal-block completed=true}} {{/if}} {{/each}}
        </ul>
    </div>
    {{/unless}}
</section>
       