<div class="my-profile">
    <div class="container">
        <section class="sidebar float-left col-md-3">
            <div class="img-wrap">
                <img  class="profile-pic" src="{{users.image}}" data-toggle="modal" data-target="#imageModal">
                <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h2 class="modal-title" id="goal-description-title">Change Your Profile Picture</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <form id="goal-description" name="description">
                                <div class="form-row">
                                    <input type="text" class="form-control" id="profile-pic-change" placeholder="Input new profile picture link...">
                                    <button id="profile-pic-change-submit" type="submit" class="btn btn-secondary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <h3>{{users.userName}}</h3>
            <br>
            <ul class="sidebar-list">
                <li><a href="/wall"><i class="far fa-clipboard"></i> My Wall</a></li>
                <li><a href="/profile"><i class="far fa-calendar-check"></i> My Goals</a></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
        <section class="goals float-right col-md-9">
            <form class="add-goals">
                <div>
                    <input type="text" class="form-control" id="goal-name-input" placeholder="input goal...">
                    <input type="text" class="form-control" id="goal-description-input" placeholder="input goal notes...">
                    <button id="goal-submit" type="submit" class="btn btn-secondary">Add New Goal</button>
                </div>   
            </form>

            {{#unless True}}
                <div class="my-goals">
                    <h3 class="goal-headings">Current Goals</h3>
                    <ul>
                        {{#each goals}}
                            {{#unless completed}}
                            {{> goals/goal-block completed=false}}
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            {{/unless}}
            <br>
            {{#unless True}}
                <div class="my-goals-completed">
                    <span>
                        <h3 class="goal-headings d-inline">Completed Goals</h3>
                        <button id="del-completed-goals" class="btn btn-primary bg-primary float-right">Delete all Completed Goals</button>
                    </span>
                    <ul>
                        {{#each goals}}
                            {{#if completed}}
                            {{> goals/goal-block completed=true}}
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            {{/unless}}
        </section>
    </div>
</div>

