<div class="my-profile">
    <div class="container">
        <section class="sidebar float-left col-md-3">
            <div>
                <img  class="profile-pic" src="https://amp.businessinsider.com/images/5acd1fe84d0386a9008b5052-750-500.jpg" width="200px">
            </div>
            <ul class="sidebar-list">
                <li><a href="/wall"><i class="far fa-clipboard"></i> My Wall</a></li>
                <li><a href="/profile"><i class="far fa-calendar-check"></i> My Goals</a></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
        <section class="goals float-right col-md-9">
            <form class="add-goals">
                <div>
                    <input type="text" class="form-control" id="goal-input" placeholder="input goal...">
                    <button id="goal-submit" type="submit" class="btn btn-secondary">Submit</button>
                </div>   
            </form>
            <div class="my-goals">
                <ul>
                    {{#each goals}}
                        {{#unless completed}}
                        {{> goals/goal-block completed=false}}
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </section>
    </div>
</div>