{{!-- {{#each users}}
<div>{{firstName}} {{lastName}}</div>
{{/each}} --}}
<div class="outer-wrapper">
    <div class="container">
        <section class="sidebar float-left col-md-3">
            <div class="img-wrap">
                <img class="profile-pic" src="{{users.image}}">
            </div>
            <br>
            <h3>{{users.userName}}</h3>
            <br>
            <ul class="sidebar-list">
                <li>
                    <a href="/wall">
                        <i class="far fa-clipboard"></i> My Wall</a>
                </li>
                <li>
                    <a href="/profile">
                        <i class="far fa-calendar-check"></i> My Goals</a>
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
        <section class="goals float-right col-md-9">


            <div class="my-goals">
                <h3 class="goal-headings">Search Results</h3>
                <ul>
                    {{#each users}} {{> search/search-block}} {{/each}}
                </ul>
            </div>

        </section>
    </div>
</div>