*{
    -webkit-transition : all ease-in-out 50ms;
    -moz-transition : all ease-in-out 50ms;
    -o-transition : all ease-in-out 50ms;
    transition : all ease-in-out 50ms; 
}
body{
    height: 100%;
    background-color: #E9EBEE; 
}
h1,
h2,
h3,
h4,
h5{
    font-family: 'Ubuntu', sans-serif;     
}
/* NavBar */
nav{
    font-family: 'Ubuntu', sans-serif;  
    color: white;
    /* background-color: #157EFB;        */
}
.profile-drop{
    list-style: none;
}
.navbar{
    padding: .5rem 4rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.8);
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: white;;
}
#navbarDropdown{
    color: rgba(255, 255, 255, 0.8);
}
#navbarDropdown:hover{
    color: white;
}
.dropdown-menu{
    position: absolute;
    right: -16px;
    left: auto;
    top:45px;
    border-radius: 0 0 .25rem .25rem;
}
/* Font-Awesome Icons */
.fas{
    margin: 0 8px;
}
/* Login Page */

.login{
    height: 100vh;
    background-color: #E9EBEE;
}
.login-title{
    margin: 0;
}
.login-form{
    margin: 0 auto;
    position: relative;
    top: 28vh;
    width: 300px;
}
/* Profile */
.sidebar{
    background-color: white;
    height: 100vh;
    width: 100%;
    position: relative;
    left: -50px;
    padding: 20px 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;     
}
.goals{
    width: 100%;
}
.add-goals{
    background-color: #157efb;
    padding: 20px;
    border-radius: 6px;
    position: relative;
    top: 20px;
    width: 100%;
}
.goal-input{
    width: 200px;
}
#goal-submit{
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 0 4px 4px 0;
}
.sidebar-list{
    list-style: none;
    padding: 0;
}
.sidebar-list>li{
    margin: 16px 0;
    font-size: 18px;
    text-decoration: none;
}
/* Wall */