*{
    -webkit-transition : all ease-in-out 110ms;
    -moz-transition : all ease-in-out 110ms;
    -o-transition : all ease-in-out 110ms;
    transition : all ease-in-out 110ms; 
}
body{
    min-height: 100%;
    background-color: #E9EBEE; 
    height: fit-content;
}
h1,
h2,
h3,
h4,
h5{
    font-family: 'Ubuntu', sans-serif;     
}
ul{
    list-style: none;
    padding: 0;
}
/* NavBar */
.bg-primary{
    background-color: #1ab394 !important;
    border: #1ab394 solid 1px;
}
nav{
    font-family: 'Ubuntu', sans-serif;  
    color: white;
    /* background-color: #157EFB;        */
}
.profile-drop{
    list-style: none;
}
.navbar{
    padding: .5rem 4rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.8);
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: white;;
}
#navbarDropdown{
    color: rgba(255, 255, 255, 0.8);
}
#navbarDropdown:hover{
    color: white;
}
.dropdown-menu{
    position: absolute;
    right: -16px;
    left: auto;
    top:46px;
    border-radius: 0 0 .25rem .25rem;
}
#nav-profile-image{
    width: 50px;
    border-radius: 50%;
    margin: 0 10px;
    border: 1px solid #0e6b58;
}
/* Font-Awesome Icons */
.fas{
    margin: 0 8px;
}
/* Login Page */

.login{
    height: 100vh;
    background-color: #E9EBEE;
}
.login-title{
    margin: 0;
}
.login-form{
    margin: 0 auto;
    position: relative;
    top: 28vh;
    width: 300px;
}
/* Sidebar */
.sidebar{
    background-color: white;
    height: 100vh;
    width: 100%;
    position: relative;
    left: -50px;
    padding: 20px 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;     
}
.img-wrap{

}
.profile-pic{
    width: 80%;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px #0e6b58 solid;
    padding: 2px;
}
#image-change-icon{
    position: absolute;
    left: 43%;
    top: 63px;
    z-index: 100;
    font-size: 40px;
}
.profile-pic:hover{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.sidebar-list{
    list-style: none;
    padding: 0;
}
.sidebar-list>li{
    margin: 16px 0;
    font-size: 18px;
    text-decoration: none;
}
/* Profile */
.goals{
    width: 100%;
}
.add-goals{
    background-color: #1ab394;
    padding: 20px;
    border-radius: 6px;
    position: relative;
    top: 20px;
    width: 100%;
}
#goal-name-input{
    border-radius: 4px 4px 0 0;
}
#goal-description-input{
    border-radius: 0 0 4px 4px;    
}
.goal-input{
    width: 200px;
}
#goal-submit{
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 0 4px 4px 0;
    height: 76px;
    font-family: 'Ubuntu', sans-serif;  
    background-color: #157efb;
    border: none
}

.my-goals{
    position: relative;
    top: 50px;
    background-color: #1ab394;
    border-radius: 6px;
    padding: 10px 20px 1px;
    font-family: 'Ubuntu', sans-serif;  
    
}
.my-goals-completed{
    position: relative;
    top: 50px;
    background-color: #1ab394;
    border-radius: 6px;
    padding: 10px 20px 1px;
    font-family: 'Ubuntu', sans-serif;  
    color: grey;
    
}
.goal-headings{
    color: white;
}
.my-goals>ul{
    /* padding: 6px; */
}
.my-goals-list{
    background-color: white;
    border-radius: 6px;
    padding: 8px 10px;
    margin: 10px 0;
}
.my-goals-list:hover{
    transform: scale(1.02);
    color: #1ab394;
}
.goal-title{
    font-weight: bold;
    font-size: 24px;
}
.goal-description{
    color: grey;
    font-size: 24px;
}
#del-completed-goals{
    position: relative;
    /* bottom: 2px; */
}
.fa-check-circle,
.fa-circle,
.fa-trash-alt{
    font-size: 24px;
    margin-right: 5px;
}
.fa-trash-alt{
    position: relative;
    top: 4px;
    color: grey;
}
.fa-trash-alt:hover{
    color:red;
}

.input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.input[type=text]:focus {
    width: 100%;
}
/* Wall */