*{
    -webkit-transition : all ease-in-out 110ms;
    -moz-transition : all ease-in-out 110ms;
    -o-transition : all ease-in-out 110ms;
    transition : all ease-in-out 110ms; 
}
html{
    min-width: 380px;
    position: relative;
    min-height: 100%;
    height: 100%;
}
body{
    min-height: 100%;
    background-color: #E9EBEE; 
    height: fit-content;
    height: 100%;
}
.outer-wrapper{
    height: 100%;
}
h1,
h2,
h3,
h4,
h5{
    font-family: 'Ubuntu', sans-serif;     
}
a{
    color: #1ab394;
}
a:hover{
    color: #1e7563;
}
ul{
    list-style: none;
    padding: 0;
}
.modal-title{
    color: black;
}
/* NavBar */
.bg-primary{
    background-color: #1ab394 !important;
    border: #1ab394 solid 1px;
}
[type=submit]:hover{
    background-color: #0e6b58 !important;
}
a.bg-primary:focus, a.bg-primary:hover,input.bg-primary:hover button.bg-primary:focus, button.bg-primary:hover {
    background-color: #0e6b58 !important;
    border: #0e6b58 solid 1px;
    
}
.navbar{
    padding: 0 !important;
    padding: .5rem 4rem;
}
nav{
    font-family: 'Ubuntu', sans-serif;  
    color: white;
    z-index: 1;
    /* background-color: #157EFB;        */
}
.profile-drop{
    list-style: none;
    margin: 0 20px;
}
.navbar-dark .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.8);
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: white;;
}

#navbarDropdown{
    color: rgba(255, 255, 255, 0.8);
}
#navbarDropdown:hover{
    color: white;
}
.dropdown-menu{
    position: absolute;
    right: -16px;
    left: auto;
    top:55px;
    border-radius: 0 0 .25rem .25rem;
}
#nav-profile-image{
    width: 20px;
    border-radius: 50%;
    margin: 0 10px;
    border: 1px solid #0e6b58;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .collapse {
        display: none !important;
    }
}
@media screen and (max-width: 768px) {
    .navbar{
        padding: 0;
    }
}
/* Font-Awesome Icons */
.fas{
    margin: 0 8px;
}
/* Login Page */

.login{
    min-height: 100vh;
    height: fit-content;
    background-color: #E9EBEE;
}
.login-title{
    margin: 0;
}
.login-form{
    margin: 0 auto;
    position: relative;
    top: 28vh;
    width: 300px;
}
/* Sidebar */
.sidebar{
    background-color: white;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 50px;
    top: 0;
    /* z-index: -1; */
    padding: 92px 0 0 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;   
}
.img-wrap{

}
.profile-pic{
    width: 80%;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    border: 2px #0e6b58 solid;
    padding: 2px;
}
.fa-images{
    position: relative;
    left: 33%;
    bottom: 40px;
    font-size: 2vw;
    color: black;
    display: block;
    visibility:hidden;

}
#profile-pic-change-submit{
    /* position: relative; */
    top: -38px;
    left: 84%;
    background-color: #1ab394;
    border: none;    
    height: 38px;
    margin: 10px 0;
    /* border-radius: 0 4px 4px 0; */
}
#image-change-icon{
    position: absolute;
    left: 43%;
    top: 63px;
    z-index: 100;
    font-size: 40px;
}
.profile-pic:hover{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.sidebar-list{
    list-style: none;
    padding: 0;
}
.sidebar-list>li{
    margin: 16px 0;
    font-size: 18px;
    text-decoration: none;
}
/* Profile */
.goals{
    width: 100%;
}
.add-goals{
    background-color: #1ab394;
    padding: 20px 20px 3px 20px;
    border-radius: 6px;
    position: relative;
    top: 20px;
    width: 100%;
}
.goal-inputs{
    border-radius: 4px 4px 0 0;
    width: 85%;
}
#goal-description-input{
    border-radius: 0 0 4px 4px;    
}
.goal-input{
    width: 200px;
}
#goal-submit{
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 0 4px 4px 0;
    height: 76px;
    font-family: 'Ubuntu', sans-serif;  
    background-color: #1e7563;
    border: none;
    width: 15%;
    font-size: 30px;
}

.my-goals{
    position: relative;
    top: 50px;
    background-color: #1ab394;
    border-radius: 6px;
    padding: 10px 20px 1px;
    font-family: 'Ubuntu', sans-serif;  
    
}
.my-goals-completed{
    position: relative;
    top: 50px;
    background-color: #1ab394;
    border-radius: 6px;
    padding: 10px 20px 1px;
    font-family: 'Ubuntu', sans-serif;  
    color: grey;
    
}
.goal-headings{
    color: white;
}

.my-goals-list{
    background-color: white;
    border-radius: 6px;
    padding: 8px 10px;
    margin: 10px 0;
    -webkit-transition : all ease-in-out 1ms !important;
    -moz-transition : all ease-in-out 1ms !important;
    -o-transition : all ease-in-out 1ms !important;
    transition : all ease-in-out 1ms !important; 
}
.my-goals-list:hover{
    transform: scale(1.02);
    color: #1ab394;
    
}
.goal-title{
    font-weight: bold;
    font-size: 24px;
}
.goal-description{
    color: grey;
    font-size: 24px;
}
#del-completed-goals{
    position: relative;
    bottom: 10px;
    left: 20px;
    width: fit-content;
    height: 100%;
    border-radius: 0 4px 4px 0;
}
.fa-check-circle,
.fa-circle,
.fa-trash-alt{
    font-size: 24px;
    margin-right: 5px;
}

.fa-trash-alt{
    position: relative;
    top: 4px;
    color: grey;
}
.fa-trash-alt:hover{
    color:red;
}
@media screen and (max-width:426px){
    #del-text{
        display: none;
    }
}
/* Search */
.full-search>*{
    display: inline;
}
.search-btn-nav{
    position: relative;
    left: -75px;
    border-radius: 0 3px 3px 0;
    border: 1px;
    height: 28px;
    line-height: 1px;
    width: fit-content;
    top: -1px;
}
.search-btn-m{
    position: absolute;
    right: 20px;
    border-radius: 0 3px 3px 0;
    border: none;
    height: 28px;
    line-height: 1px;
    width: fit-content;
    top: 17px;
}

#search-input-nav {
    border-color: #1e7563;
    height: 30px;
    padding: 5px;
    width: 300px;
    display: inline-block;

}
#search-input-m {
    border-color: #1e7563;
    height: 30px;
    padding: 5px;
    width: 100%;
    display: inline-block;

}

.search-btn-nav:hover,
.search-btn-m:hover {
    background-color:  #1e7563;
    color: white;
}
.search-results{
    position: relative;
    top: 50px;
    background-color: #1ab394;
    border-radius: 6px;
    padding: 10px 20px 1px;
    font-family: 'Ubuntu', sans-serif; 
}
.btn-outline-success {
    color: #1e7563;
    background-color: transparent;
    background-image: none;
    border-color: #1e7563;
}

#del-completed-goals:hover {
    background-color: #1e7563;
    color: white;            
}

.btn-search-user {
    margin: 5px;
    background-color: white;
    position: relative;
    border-radius: 50px 4px 4px 50px;
    width: 100%;
    border: #0e6b58 solid 1px;
}
.btn-search-user:hover {
    transform: scale(1.02);
    background-color: white !important;
}
.nav-profile-image{
    width: 90px;
    border-radius: 50%;
    margin: 0 0 0 10px;
    border: 1px solid #0e6b58;
    position: relative;
    right: 15px;
}
.search-result-name{
    color: black;
    position: relative;
    top: 33px;
}
.add-friend{
    border: solid black 3px;
    top: 30px;
    position: relative;
    /* right: 30px; */
    width: 55px;
}
.add-friend:hover{
    background-color: #1ab394;
}
.fa-user-plus{
    
    font-size: 24px;
}

@media screen and (max-width:991px){
    .full-search{
        display: none;
    }
    #drop-down-name{
        display: none;
    }
}
@media screen and (min-width:992px){
    #search-m-btn{
        display: none;
    }
}
@media screen and (max-width:576px){
    .add-friend{
        right: 30px;
    }
    .search-btn-m{
        right:12px;
    }
}
/* Other User's profile */
.peers-headings{
    color: black;
}
.peer-view{
    position: relative;
    top: 20px;
    background-color: white;
    border-radius: 6px;
    padding: 12px 22px;
    height: 120px;
}

/* Responsive Layouts */
.container{
    max-width: 1140px !important;
}
@media screen and (max-width: 1200px){
    .sidebar{
        left: 0px;
    }
    
}
@media screen and (min-width: 1200px){
    .fa-images{
        font-size: 25px;
    }
    
}
@media only screen and (max-width: 767px){
    .sidebar{
        display: none;
    }
}
/* Footer */
footer{
    position: relative;
    bottom: -200px;
    width: 100%;
    height: fit-content;
    background-color: #1ab394;
    color: white;
    padding: 20px 0 10px 0;
    font-family: 'Ubuntu',sans-serif;
    clear: both;
}
.footer-links{
    color: white
}
/* Modal for BS */
.modal-backdrop{
    z-index: 0;
}